// ----------------------------------------------------------------
// * Valiables
// ---------------------------------------------------------------
$break: 768;
$maxsize: 1280;
$baseFontSize: 16;

$ff-go: Helvetica, "Helvetica Neue", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", sans-serif;
$ff-min: "Times New Roman", "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
$ff-en: Helvetica, "Helvetica Neue", Arial, sans-serif;

$ff-num: "Roboto", sans-serif;

$baseColor: #000;
$mainColor: #FF5A1F;
$keyColor: #CCFF00;
$linkColor: $baseColor;
$linkHoverColor: $mainColor;

$attention: #FF0064;