// ----------------------------------------------------------------
// * Valiables
// ---------------------------------------------------------------
$break: 768;
$maxsize: 900;
$baseFontSize: 15;

$ff-go: 'M PLUS Rounded 1c', sans-serif;
$ff-go2: 'NotoSansCJKjp', sans-serif;
$ff-num: 'Roboto', sans-serif;
$ff-icon: 'ForkAwesome';

$baseColor: #000000;
$mainColor: #002465;
$mainColorLight: #eaf0fa;
$linkColor: #333333;
$linkHoverColor: #333333;

$gray1: #B5B5B5;
$brown: #40210F;
$red: #FF3C3C;
$orange: #FF9C15;
$green: #59D821;