//
/* ----------------------------------------------------------------
ベース
---------------------------------------------------------------- */
.breadcrumb {
  display: flex;
  margin-top: 90px;
  padding: 0 20px;
  font-size: 12px;

  flex-wrap: wrap;

  @media only screen and (min-width: 768px) {
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1300px;
    font-size: 15px;
  }

  a {
    text-decoration: none;
  }

  li {
    &:last-child {
      &::after {
        display: none;
      }
    }

    &::after {
      display: inline-block;
      margin: -2px 8px 0;
      width: 6px;
      height: 6px;
      border-top: 1px solid #000;
      border-right: 1px solid #000;
      content: '';
      vertical-align: middle;
      transform: rotate(45deg);
    }
  }
}

.main_other {
  padding-top: 80px;
  padding-bottom: 60px;
  background-color: #fafafa;

  @media only screen and (min-width: 768px) {
    padding-top: 90px;
  }
}

.page-heading {
  margin-bottom: 70px;
  text-align: center;
  font-weight: bold;
  font-size: 25px;

  @media only screen and (min-width: 768px) {
    font-size: 34px;

    br {
      display: none;
    }
  }
}

.sec__other {
  padding: 0 20px;
}

.page-table {
  font-size: 14px;

  @media only screen and (min-width: 768px) {
    margin: 0 auto;
    max-width: 845px;
    width: 100%;
    font-size: 18px;

    br {
      display: none;
    }
  }

  th,
  td {
    padding: 0 0 12px;
    vertical-align: top;
    letter-spacing: 0;

    a {
      text-decoration: none;
    }

    @media only screen and (min-width: 768px) {
      padding-bottom: 25px;
    }
  }

  th {
    width: 130px;
    font-weight: bold;

    @media only screen and (min-width: 768px) {
      width: 230px;
    }
  }
}

/* ----------------------------------------------------------------
フォーム
---------------------------------------------------------------- */
.form_txt {
  margin: 0 auto 0;
  max-width: 845px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;

  @media only screen and (min-width: 768px) {
    font-size: 20px;

    span {
      display: block;
      width: 86vw;
    }
  }
}

.error_blank {
  display: block;
  color: #d00;
}

#mail_form {
  margin-top: 10px;
  max-width: 845px;

  @media only screen and (min-width: 768px) {
    margin: 50px auto 0;
  }
}

.mail_formItem {
  margin-bottom: 20px;
  font-size: 16px;

  ::placeholder {
    color: #cfcfcf;
  }

  @media only screen and (min-width: 768px) {
    margin-bottom: 30px;

    dt {
      font-size: 18px;
    }
  }

  dt {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 16px;

    align-items: center;
    justify-content: flex-end;

    .required {
      margin-left: 5px;
      padding: 1px 4px 0;
      border: 2px solid #ff5a1f;
      border-radius: 2px;
      color: #ff5a1f;
      content: '必須';
      vertical-align: middle;
      font-size: 12px;
      line-height: 1;
    }
  }

  [type='text'],
  [type='email'] {
    padding: 15px;
    max-width: 100%;
    width: 350px;
    border: 1px solid #707070;
    font-size: 16px;
  }

  select {
    padding: 15px;
    max-width: 100%;
    width: 370px;
    border: 1px solid #707070;
    font-size: 16px;
  }

  #contents {
    padding: 15px;
    width: 100%;
    height: 140px;
    border: 1px solid #707070;
    font-size: 16px;
  }
}

#form_submit_button {
  display: block;
  margin: 40px auto 0;
  padding: 16.5px 0;
  max-width: 100%;
  width: 360px;
  border: none;
  border-radius: 5px;
  background-color: #ff5a1f;
  color: #fff;
  font-weight: bold;
  font-size: 18px;

  @media only screen and (min-width: 768px) {
    margin: 50px auto 0;
  }
}

.thanksBodyimg {
  display: block;
  margin: 50px auto 80px;
  width: 219px;
  height: 210px;

  @media only screen and (min-width: 768px) {
    margin-top: 70px;
  }
}

.button__top {
  padding: 19px 0;
  width: 100%;
  border-radius: 5px;
  background-color: #005014;
  font-weight: bold;
  font-size: 18px;

  @media only screen and (min-width: 768px) {
    display: block;
    margin: 0 auto;
    max-width: 360px;
  }

  img {
    margin-left: 4px;
    width: 15px;
    height: auto;
  }
}

/* ----------------------------------------------------------------
プラポリ
---------------------------------------------------------------- */
.bl_orangePage{
  color: #FF5A1F;
  font-weight: 600;
  margin-bottom: 30px;
}
.l-page-multi-purpose{
  a{
    color: #FF5A1F;
  }
  h2{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 30px;
  }
  p{
    margin-bottom: 15px;
    // padding-left: 1em;
    // text-indent: -1em;
  }
  ul,ol{
    margin-bottom: 15px;
    padding-left: 20px;

  }
  ul{
    li{
      &::before{
      content:'・';
      }
    }
  }
  ol{
    list-style: decimal;
  }
}
