/* ----------------------------------------------------------------
  レイアウト
---------------------------------------------------------------- */
//メインコンテンツ
.main {
  margin-top: 55px;
}
@include res_min( $break ){
  .main {
    margin-top: 83px;
  }
}

// section
.sec {
  padding: 0 30px;
}
@include res_min( $break ){
  .sec {
    @include maxW;
  }
}