/* ----------------------------------------------------------------
  フッターのレイアウト
---------------------------------------------------------------- */
.footer {
  padding: 25px 30px;
  text-align: center;
  background-color: #005014;

  .copyright{
    font-size: 1.1rem;
    line-height: 1;
    color: #fff;
  }
}
@include res_min( $break ){
  .footer {
    padding: 50px 30px;
    .footer__navi {
      .footer__navi__menu {
        margin-top: 1em;
        background-color: transparent;
        @include flex(wrap, center, stretch);
        .menu__item {
          margin: 0 1em;
          flex-basis: auto;
          &:not(:first-of-type) {
            margin-top: 0;
          }
          line-height: 1;
          a {
            font-weight: normal;
            &:link, &:visited {
              color: #fff;
            }
          }
        }
      }

      //
      .page-menu {

      }

      //
      .policy-menu {
        margin-top: 1.5em;
        .menu__item {
          a {
            font-size: 1.4rem;
          }
        }
      }
    }

    .copyright{
      margin-top: 50px;
      font-size: 1.4rem;
    }
  }
}