/* ----------------------------------------------------------------
  ヘッダーのレイアウト
---------------------------------------------------------------- */
.header {
  padding: 11px 10px;
  background-color: #f0ffcc;
  .header__title {
    @include flex(nowrap, center, center);
    i {
      flex-basis: 40px;
      margin-right: 7px;
      img {
        width: 100%;
      }
    }
    span {
      font-size: 1.1rem;
      font-weight: 800;
      line-height: 1.3;
      img {
        margin-bottom: 2px;
        width: 161px;
      }
    }
  }
}
@include res_min( $break ){
  .header {
    padding: 28px 0 26px;
    .header__title {
      i {
        flex-basis: 103px;
        margin-right: 17px;
      }
      span {
        font-size: 2.8rem;
        img {
          margin-bottom: 8px;
          width: 385px;
        }
      }
    }
  }
}