/* ----------------------------------------------------------------
  HOME
---------------------------------------------------------------- */
// kv
.kv {
  padding: 12.8vw 5% 11.5vw;
  .kv__image {
    margin: 0 auto;
    img {
      width: 100%;
      max-width: 1280px;
    }
  }
}
@include res_min( $break ){
  .kv {
    padding: min(4.5vw, 68px) 7.5% min(5.3vw, 79px);
    text-align: center;
  }
}