/* ----------------------------------------------------------------
  各ページ共通
---------------------------------------------------------------- */
//メインコンテンツ
.main {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
@include res_min( $break ){
  .main {
    @include maxW(810);
  }
}


// ページタイトル
.page-title {
  padding: 8px 10px;
  margin-top: 30px;
  min-height: 86px;
  font-size: 1.7rem;
  position: relative;
  line-height: 1.4;
  color: #fff;
  border-radius: 23px;
  @include flex(nowrap, center, center);
  // 個別
  &--orange {
    background-color: #f6a06e;
  }
  &--green {
    background-color: #96C966;
  }
  &--pink {
    background-color: #f89fd0;
  }
}
@include res_min( $break ){
  .page-title {
    padding: 18px .5em;
    margin-top: 70px;
    min-height: 189px;
    font-size: 3.4rem;
    line-height: 1.5;
    border-radius: 50px;
    &--pink {
      font-size: 4rem;
    }
  }
}

// ページイントロ
.page-intro {
  margin-top: 20px;
  font-size: 1.1rem;
  font-weight: 800;
  line-height: 1.6;
  &--l{
    font-size: 1.2rem;
  }
}
@include res_min( $break ){
  .page-intro {
    margin-top: 25px;
    font-size: 1.8rem;
    line-height: 1.8;
  }
}

// コンテンツタイトル
.content-title {
  padding: 3px 10px;
  min-height: 27px;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #fff;
  border-radius: 999px;
  @include flex(nowrap, center, center);
  img {
    margin: auto;
  }
  // 個別
  &--orange {
    background-color: #f6a06e;
  }
  &--blue,
  &--green,
  &--brown {
    padding: 4px 0 0;
    span{
      font-size: 8px;
      display: inline-block;

      background-image: url(../img/plus/arror.svg);
      background-size: 6px 16px;
      background-repeat: no-repeat;
      background-position: right center;
      padding-right: 5px;
      margin-right: 2px;
      @include res_min( $break ){
        font-size: 20px;
        background-size: 15px 39px;
        padding:6px  15px 6px 0;
        margin-right: 5px;
      }
    }
    @include res_min( $break ){
      padding-right: 0;
      margin-left: 0;
    }
  }
  &--blue{
    background-color: #69A3D8;
  }
  &--green {
    background-color: #69C295;
  }
  &--brown{
    background-color: #9E6B6F;
  }
  &--gold {
    background-color: #9a8b4b;
  }
  &--pink {
    background-color: #f9a2d4;
  }
}
@include res_min( $break ){
  .content-title {
    padding: 9px .5em;
    min-height: 63px;
    font-size: 3.2rem;
  }
}

// コンテンツイントロ
.content-intro {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.5;
}
@include res_min( $break ){
  .content-intro {
    margin-top: 16px;
    font-size: 1.8rem;
    line-height: 1.4;
  }
}
.content-intro02 {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.5;
@include res_min( $break ){

    margin-top: 16px;
    font-size: 16px;
    line-height: 1.6;
  }
}
// トップページへリンクボタン
.page-footer-link-wrap {
  margin-top: 50px;
  padding-bottom: 165px;
}
@include res_min( $break ){
  .page-footer-link-wrap {
    margin-top: 54px;
    padding-bottom: 54px;
  }
}

// 注意文
.text-attention {
  margin-top: 70px;
  font-size: 1.5rem;
  line-height: 1.6;
  text-align: left;
}
@include res_min( $break ){
  .text-attention {
    margin-top: 30px;
  }
}


/* ----------------------------------------------------------------
  TOP
---------------------------------------------------------------- */
.kv {
  padding-bottom: 15px;
  margin-top: -9px;
  background-color: #f0ffcc;
  text-align: center;
  .kv__catchcopy-sub {
    position: relative;
    z-index: 1;
    &::before {
      content: '';
      background-color: #fff;
      width: 100%;
      height: 23.5%;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
    img {
      margin: 0 auto;
      width: 63.7%;
    }
  }
  .kv__catchcopy-main {
    padding: 11px 0 8px;
    background-color: #fff;
    img {
      margin: 0 auto;
      width: 92%;
    }
  }
  .kv__train {
    position: relative;
    z-index: 1;
    &::before {
      content: '';
      background-color: #fff;
      width: 100%;
      height: 50%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
    }
    img {
      margin: 0 auto;
      width: 68%;
    }
  }
  .kv__text {
    margin-top: 12px;
    font-size: 2.95vw;
    font-weight: 800;
    line-height: 1.63;
    text-align: center;
  }
  .kv__photos {
    margin: 11px auto 0;
    width: 92%;
    figcaption {
      img {
        margin-top: 3px;
        width: 22px;
      }
    }
  }
}
@include res_min( $break ){
  .kv {
    padding-bottom: 24px;
    margin-top: -28px;
    .kv__catchcopy-sub {
      &::before {
        height: 21%;
      }
      img {
        max-width: 568px;
      }
    }
    .kv__catchcopy-main {
      padding: 30px 0 20px;
      img {
        max-width: 899px;
      }
    }
    .kv__train {
      img {
        max-width: 421px;
      }
    }
    .kv__text {
      margin-top: 23px;
      font-size: 1.7rem;
      font-weight: 800;
      line-height: 1.94;
      text-align: center;
    }
    .kv__photos {
      margin-top: 23px;
      width: calc(100% - 32px);
      max-width: 918px;
      figcaption {
        img {
          margin-top: 5px;
          width: 29px;
        }
      }
    }
  }
}

.link-tanoshimikata {
  margin-top: 20px;
	.link-tanoshimikata__title {
    margin: 0 auto;
    width: 65%;
    max-width: 535px;
	}
	.link-tanoshimikata__navi {
    margin: 9px auto 0;
    max-width: 827px;
    @include flex();
    justify-content: space-between;
    a {
      flex-basis: 30.5%;
      &:hover {
        opacity: .8;
      }
    }
	}
}
@include res_min( $break ){
  .link-tanoshimikata {
    margin-top: 37px;
    .link-tanoshimikata__navi {
      margin-top: 27px;
    }
  }
}

.sns {
  padding: 20px 15px;
  margin-top: 30px;
  background-color: #e0eff9;
	.sns__title {
    padding: 5px;
    font-size: 1.3rem;
    font-weight: 800;
    color: #fff;
    line-height: 1.38;
    background-color: #5c92c9;
    border-radius: 15px;
	}
	.sns__block {
		.sns__block__item {
      margin-top: 28px;
      &:last-of-type {
        margin-top: 40px;
      }
			.sns__block__item__icon {
        img {
          margin: auto;
          width: 77px;
        }
        figcaption {
          margin-top: 18px;
          font-family: $ff-go2;
          font-size: 2.2rem;
          font-weight: 600;
          line-height: 1;
        }
			}
			.sns__block__item__include {
        margin-top: 15px;
        border: 1px solid #000;

        &.instagram {
          overflow-y: scroll;
        }
			}
		}
	}
}
@include res_min( $break ){
  .sns {
    padding: 35px;
    margin-top: 45px;
    .sns__title {
      padding: 11px;
      font-size: 2.8rem;
      line-height: 1.55;
      border-radius: 36px;
    }
    .sns__block {
      margin-top: 35px;
      @include flex();
      justify-content: space-between;
      .sns__block__item {
        flex-basis: 48%;
        margin-top: 0;
        &:last-of-type {
          margin-top: 0;
        }
        .sns__block__item__icon {
          img {
            width: 85px;
          }
          figcaption {
            margin-top: 20px;
            font-size: 2.4rem;
          }
        }
        .sns__block__item__include {
          height: 452px;
          iframe {
            height: 100% !important;
          }
        }
      }
    }
  }
}


// インスタ表示
.instagram-list-wrap {
  padding: 5px;
  background-color: #fff;
}
#instagram-list {
  margin: 0;
  padding: 0;
  @include flex(wrap, flex-start, stretch);
  li {
    padding: 3px;
    list-style: none;
    width: 33.333%;
    a {
      position: relative;
      display: block;
    }
  }
  img {
    max-width: 100%;
    height: auto;
  }
}


.blank-link {
  padding: 15px 15px 20px;
	.blank-link__title {}
	.blank-link__kei {
    margin-top: 10px;
    height: 12px;
    position: relative;
    overflow: hidden;
    img {
      width: auto;
      max-width: none;
      height: 100%;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }
	}
	.blank-link__kikan {
    margin-top: 12px;
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 1.5;
	}
	.blank-link__text {
    font-size: 1.2rem;
    line-height: 1.5;
	}
	.button {
    margin-top: 15px;
	}
  // 個別
  &--instaawrd {
    margin-top: 43px;
    background-color: #fde4ff;
    .blank-link__title {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 46px;
      background-color: #9b36a3;
      border-radius: 15px;
      img {
        width: 70.5%;
      }
    }
  }
  &--syukuhakucp {
    margin-top: 20px;
    background-color: #e9e2cd;
    .blank-link__title {
      img {
        margin-left: auto;
        width: 92.5%;
      }
    }
  }
}
@include res_min( $break ){
  .blank-link {
    padding: 26px 32px;
    .blank-link__title {}
    .blank-link__kei {
      margin-top: 20px;
      height: 26.4px;
    }
    .blank-link__kikan {
      font-size: 2.1rem;
    }
    .blank-link__text {
      margin-top: 10px;
      font-size: 1.9rem;
      line-height: 1.58;
    }
    .button {
      margin-top: 12px;
    }
    // 個別
    &--instaawrd {
      margin-top: 54px;
      .blank-link__title {
        height: 108px;
        border-radius: 36px;
        img {
          max-width: 522px;
        }
      }
    }
    &--syukuhakucp {
      margin-top: 27px;
      .blank-link__title {
        img {
          max-width: 685px;
        }
      }
    }
  }
}

.related-links {
  margin-top: 40px;
	.related-links__title {
    font-size: 1.6rem;
    line-height: 1.5;
	}
	.related-links__navi {
		.related-links__navi__item {
      display: block;
      margin-top: 20px;
      color: inherit;
      span {
        display: block;
        font-size: 1.2rem;
        font-weight: 800;
        line-height: 1.5;
      }
      img {
        margin: 2px auto 0;
        width: 47.8%;
        max-width: 350px;
      }
		}
	}
}
@include res_min( $break ){
  .related-links {
    margin-top: 50px;
    .related-links__title {
      font-size: 3.5rem;
    }
    .related-links__navi {
      .related-links__navi__item {
        margin-top: 35px;
        &:first-of-type {
          margin-top: 25px;
        }
        span {
          font-size: 2.1rem;
        }
        img {
          margin-top: 4px;
        }
      }
    }
  }
}


/* ----------------------------------------------------------------
  course
---------------------------------------------------------------- */
.icon-train {
  margin-top: 15px;
  font-size: 0px;
  img {
    display: inline-block;
    margin: 0 5px;
    width: 16%;
    max-width: 55px;
  }
}
@include res_min( $break ){
  .icon-train {
    margin-top: 25px;
    img {
      width: 15%;
      margin: 0 9px;
      max-width: 67px;
    }
  }
}

.map {
  padding-top: 123%;
  margin-top: 20px;
  height: 0;
  background-image: url(../img/course/bg-map.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: relative;
  .map__text {
    width: 44%;
    position: absolute;
    right: 0;
    bottom: 10px;
  }
}
@include res_min( $break ){
  .map {
    margin-top: 40px;
    .map__text {
      width: 321px;
      bottom: 0;
    }
  }
}

.modelcource {
  .content-title {
    margin-top: 30px;
  }
  .hanrei {
    margin-top: 14px;
    border: 1px solid #000;
  }
}
@include res_min( $break ){
  .modelcource {
    .content-title {
      margin-top: 70px;
    }
    .hanrei {
      margin-top: 16px;
    }
  }
}

.button-cource {
  margin-top: 10px;
}
.modelcource__content {
  display: none;
  .modelcource__content__item {
    margin-top: 10px;
  }
}
@include res_min( $break ){
  .button-cource {
    margin-top: 27px;
  }
  .modelcource__content {
    .modelcource__content__item {
      margin-top: 27px;
    }
  }
}

.bnr-tabisurukitashinano {
  margin-top: 18px;
  .txt-tabisurukitashinano {
    width: 309px;
    margin-right: auto;
    margin-left: auto;
  }
  a {
    margin-top: 10px;
    img {
      width: 252px;
    }
  }
}
@include res_min( $break ){
  .bnr-tabisurukitashinano {
    margin-top: 25px;
    .txt-tabisurukitashinano {
      width: 473px;
    }
    a {
      margin-top: 20px;
    }
  }
}


.tanoshii-train {
  margin-top: 15px;
}
.harugentei-train {
  margin-top: 50px;
}
@include res_min( $break ){
  .tanoshii-train {
    margin-top: 50px;
  }
  .harugentei-train {
    margin-top: 55px;
  }
}

.train {
  padding: 12px 12px 29px;
  margin-top: 21px;
  .content-title + & {
    margin-top: 12px;
  }
  .train__header {
    .train__header__name {
      @include flex(nowrap, space-between, center);
      .train-type {
        padding: 6px 10px;
        margin-right: 10px;
        background-color: #fff;
        border: 4px solid #000;
        border-radius: 17px;
        font-size: 2rem;
        line-height: 1;
        white-space: nowrap;
      }
      .train__header__name__img {
        flex-basis: 100%;
        img {
          margin: auto;
          width: 100%;
        }
      }
      .train__header__name__text {
        flex-basis: 100%;
        font-size: 6.3vw;
        line-height: 1.1;
        text-align: left;
      }
    }
    .train__header__image {
      margin-top: 20px;
      position: relative;
    }
  }
  .train__body {
    margin-top: 10px;
    .train__body__text {
      padding-bottom: 10px;
      margin-top: 0;
      border-bottom: 1px solid #000;
      font-size: 1.5rem;
      font-weight: 800;
      line-height: 1.5;
      text-align: left;
    }
    .train__body__data {
      padding-left: 1em;
      margin-top: 5px;
      font-size: 1.4rem;
      line-height: 1.4;
      text-align: left;
      dt {
        font-weight: 800;
        text-indent: -1em;
        position: relative;
        &::before {
          content: '●';
        }
      }
      dd {
        .train__body__data__image {
          margin-top: 3px;
          width: 200px;
        }
      }
    }
    .button {
      margin-top: 30px;
      width: 92%;
    }
  }

  // 個別
  &--furusato {
    $thiscolor: #7ebe00;
    background-color: #ecf5d9;
    .train__header .train__header__name {
      .train-type { border-color: $thiscolor; }
      .train__header__name__img img { width: 92%; }
    }
    .train__body .train__body__data dt::before { color: $thiscolor; }
    .train__body .button { background-color: $thiscolor; }
  }
  &--oikotto {
    $thiscolor: #c99194;
    background-color: #f7efef;
    .train__header .train__header__name {
      .train-type { border-color: $thiscolor; }
    }
    .train__body .train__body__data dt::before { color: $thiscolor; }
    .train__body .button { background-color: $thiscolor; }
  }
  &--highrail1375 {
    $thiscolor: #42b1ef;
    background-color: #e3f3fd;
    .train__header .train__header__name {
      .train-type { border-color: $thiscolor; }
    }
    .train__body .train__body__data dt::before { color: $thiscolor; }
    .train__body .button { background-color: $thiscolor; }
  }
  &--nightviewobasute {
    $thiscolor: #2145a3;
    background-color: #dee3f1;
    .train__header .train__header__name {
      .train-type { border-color: $thiscolor; }
      .train__header__name__text { color: $thiscolor; }
    }
    .train__body .train__body__data dt::before { color: $thiscolor; }
    .train__body .button { background-color: $thiscolor; }
  }
  &--resortviewsuwako {
    $thiscolor: #59b7ad;
    background-color: #e6f4f3;
    .train__header .train__header__name {
      .train-type { border-color: $thiscolor; }
      .train__header__name__text { color: $thiscolor; }
    }
    .train__header .train__header__image .fixed-image {
      width: 46.5%;
      position: absolute;
      right: -3.5%;
      bottom: -10%;
    }
    .train__body .train__body__data dt::before { color: $thiscolor; }
    .train__body .button { background-color: $thiscolor; }
  }
  &--shinshu {
    $thiscolor: #e16ba7;
    background-color: #fcf0f6;
    .train__header .train__header__name {
      .train-type { border-color: $thiscolor; }
      .train__header__name__text { color: $thiscolor; }
    }
    .train__body .train__body__data dt::before { color: $thiscolor; }
    .train__body .button { background-color: $thiscolor; }
  }
  &--shinonoi120s {
    $thiscolor: #ea9d33;
    background-color: #fcf0e0;
    .train__header .train__header__name {
      .train-type { border-color: $thiscolor; }
      .train__header__name__text { color: $thiscolor; }
    }
    .train__body .train__body__data dt::before { color: $thiscolor; }
    .train__body .button { background-color: $thiscolor; }
  }
}
.harugentei-train {
  .train__header .train__header__image { margin-top: 10px; }
}
@include res_min( $break ){
  .train {
    padding: 21px 27px 27px;
    margin-top: 27px;
    .content-title + & {
      margin-top: 27px;
    }
    @include flex(nowrap, space-between, stretch);
    .train__header {
      flex-basis: 50%;
      .train__header__name {
        .train-type {
          padding: 7px 9.5px;
          border-radius: 20px;
          font-size: 2.4rem;
        }
        .train__header__name__text {
          font-size: 2.9rem;
        }
      }
      .train__header__image {
        margin-top: 28px;
      }
    }
    .train__body {
      flex-basis: 50%;
      padding-left: 27px;
      margin-top: 0;
      @include flex(nowrap, flex-end, stretch);
      flex-direction: column;
      .train__body__text {
        width: 100%;
        padding-bottom: 9px;
        margin-top: 0;
        font-size: 1.8rem;
      }
      .train__body__data {
        margin-top: 8px;
        font-size: 1.5rem;
        dd {
          .train__body__data__image {
            margin-top: 5px;
            margin-bottom: 25px;
            width: 195px;
          }
        }
      }
      .button {
        margin-top: auto;
        width: 100%;
      }
    }
    &--resortviewsuwako {
      .train__header .train__header__image .fixed-image {
        width: 46%;
        right: -8.5%;
        bottom: -10%;
      }
    }
  }
  .harugentei-train {
    .train__header .train__header__image {
      margin-top: 15px;
    }
    .train__body {
      display: block;
      .train__body__data {
        dd {
          .train__body__data__image {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}


/* ----------------------------------------------------------------
  sightseeing events
---------------------------------------------------------------- */
.sightseeing {
  margin-top: 25px;
}
@include res_min( $break ){
  .sightseeing {
    margin-top: 60px;
  }
}

.title-sightseeing {
  width: 171px;
}
@include res_min( $break ){
  .title-sightseeing {
    width: 400px;
  }
}

.events {
  margin-top: 85px;
}
@include res_min( $break ){
  .events {
    margin-top: 60px;
  }
}

.se-block {
  margin-top: 30px;
  &:first-of-type {
    margin-top: 15px;
  }
  border-top: 1px solid #000;
	.se-block__title {
    padding-top: 5px;
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: left;
    .img-title {
      margin-top: 5px;
      height: 26px;
    }
	}
	.se-block__image {
    figure {
      margin-top: 10px;
      figcaption {
        margin-top: 3px;
        text-align: left;
        img {
          height: 10px;
          width: auto;
        }
      }
    }
	}
	.se-block__data {
    margin-top: 5px;
		.se-block__data__text {
      &:first-of-type {
        margin-top: 0;
      }
      font-size: 1.2rem;
      line-height: 1.75;
      text-align: left;
		}
		.se-block__data__list {
      font-size: 1.2rem;
      line-height: 1.75;
      text-align: left;
      @include flex(wrap, flex-start, stretch);
      &--nowrap {
        flex-wrap: nowrap;
      }
			.se-block__data__list__label {
        font-weight: 800;
        white-space: nowrap;
        &::before {
          content: '●';
        }
        &::after {
          content: '：';
        }
			}
			.se-block__data__list__data {
        &:first-of-type {
          margin-top: 0;
        }
			}
		}
	}
	.se-block__link {
    margin-top: 30px;
		.button {
      font-size: 1.2rem;
      &::after {
        width: 11px;
      }
		}
	}

  // 個別
  &--sightseeing {
    $thiscolor: #9a8b4b;
    border-top-color: $thiscolor;
    .se-block__data .se-block__data__list .se-block__data__list__label::before { color: $thiscolor; }
    .se-block__link .button { background-color: $thiscolor; }
  }
  &--events {
    $thiscolor: #f89fd0;
    border-top-color: $thiscolor;
    .se-block__data .se-block__data__list .se-block__data__list__label::before { color: $thiscolor; }
    .se-block__link .button { background-color: $thiscolor; }
  }
}
@include res_min( $break ){
  .se-block {
    margin-top: 25px;
    &:first-of-type {
      margin-top: 25px;
    }
    &::after {
      content: " ";
      display: block;
      clear: both;
    }
    .se-block__title {
      float: left;
      padding-top: 15px;
      width: calc(100% - 252px - 25px);
      font-size: 2.1rem;
      .img-title {
        margin-top: 0;
        height: 30px;
      }
    }
    .se-block__image {
      float: right;
      width: 252px;
      figure {
        margin-top: 0;
        &:not(:first-of-type) {
          margin-top: 10px;
        }
        figcaption {
          img {
            height: 7px;
          }
        }
      }
    }
    .se-block__data {
      float: left;
      margin-top: 15px;
      width: calc(100% - 252px - 25px);
      .se-block__data__text {
        font-size: 1.5rem;
        line-height: 1.667;
      }
      .se-block__data__list {
        font-size: 1.6rem;
        line-height: 1.667;
      }
    }
    .se-block__link {
      margin-top: 18px;
      width: 252px;
      .button {
        width: 100%;
        font-size: 1.8rem;
        &::after {
          width: 17px;
        }
      }
    }
  }
}

/* ----------------------------------------------------------------
  plus
---------------------------------------------------------------- */
.u-hide-pc {
  @include res_min($break) {
    display: none;
  }
}

.page-intro__plus {
  margin-top: 0;

  @include res_min($break) {
    margin-top: 0;
    font-size: 16px;
  }
}

.page-title-slash {
  margin-top: 12px;
  margin-bottom: 8px;
  color: #69c295;
  font-weight: bold;
  font-size: 12px;

  @include res_min($break) {
    margin-top: 30px;
    font-size: 27px;

    &::before,
    &::after {
      height: 22px;
    }

    &::after {
      margin-left: 15px;
    }

    &::before {
      margin-right: 15px;
    }
  }

  &::before,
  &::after {
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: #69c295;
    content: '';
  }

  &::after {
    margin-left: 8px;
    transform: translateY(2px) rotate(30deg);
  }

  &::before {
    margin-right: 8px;
    transform: translateY(2px) rotate(-30deg);
  }
}

.page-lv4Ttl {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #000;
  color: #ad7fbb;
  text-align: center;
  letter-spacing: -1px;
  font-weight: bold;
  font-size: 15px;

  @include res_min($break) {
    margin-bottom: 5px;
    padding-top: 15px;
    font-size: 25px;
  }
}

.page-title__balloon {
  position: absolute;
  top: -10px;
  width: 220px;
  height: 28px;
  background-image: url(../img/plus/ttl_ballun.svg);
  background-size: cover;
  color: #000;
  font-size: 10px;

  @include res_min($break) {
    width: 460px;
    height: 57px;
    font-size: 20px;
  }
}

.page-title__img01 {
  position: absolute;
  bottom: -20px;
  left: 8px;
  width: 52px;
  height: 51px;

  @include res_min($break) {
    width: 115px;
    height: 112px;
  }
}

// .page-title__img02 {
//   position: absolute;
//   right: 8px;
//   bottom: -20px;
//   width: auto;
//   height: 30px;

//   @include res_min($break) {
//     display: none;
//   }
// }

.page-title__img03 {
  position: absolute;
  right: 8px;
  bottom: -20px;
  display: block;
  width: 80px;

  @include res_min($break) {

    width: 167px;
    height: 67px;
  }
}


.content-sub-title {
  margin-top: 20px;
  margin-bottom: 5px;

  @include res_min($break) {
    margin-top: 25px;
    margin-bottom: 40px;
  }
}

.caseUnitItem {
  display: flex;
  margin-top: 10px;
  padding-bottom: 5px;
  border-top: 1px solid #69c295;
  text-align: left;
}

.caseUnitItem_meta {
  padding-top: 8px;

  flex: 1;

  @include res_min($break) {
    padding-top: 18px;
  }
}

.caseUnitItem_meta_img {
  margin-left: 10px;
  width: 95px;

  @include res_min($break) {
    width: 241px;
  }
}

.caseUnitItem_head {
  font-size: 10px;

  @include res_min($break) {
    font-size: 16px;
  }
}

.caseUnitItem_ttl {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 10px;
  line-height: 1.4;

  @include res_min($break) {
    font-size: 21px;
    line-height: 1.6;
  }
}

.caseUnitItem_list {
  display: flex;
  font-size: 10px;

  flex-wrap: wrap;

  @include res_min($break) {
    font-size: 15px;
  }

  >div {
    display: flex;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  dt {
    font-weight: bold;

    &::before {
      display: inline-block;
      margin-right: 2px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #69c295;
      content: '';

      @include res_min($break) {
        width: 12px;
        height: 12px;
      }
    }

    &::after {
      content: ':';
    }
  }
}

.page_small {
  display: block;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-left: 1em;
  text-align: left;
  text-indent: -1em;
  font-size: inherit;
  font-size: 10px;

  @include res_min($break) {
    margin-bottom: 30px;
    font-size: 16px;
  }
}

.button-cource img {
  width: 100%;
  height: auto;
}

.stmpUnit {
  margin-top: 15px;
}

.stmp_item {
  margin-bottom: 20px;

  @include res_min($break) {
    margin-top: 20px;
  }
}

.stmp_item__table {
  margin-bottom: 12px;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: #fff;
  text-align: left;
  font-size: 14px;

  @include res_min($break) {
    font-size: 14px;
    letter-spacing: -1px;
  }

  thead {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #d6bfdd;
    white-space: nowrap;
    th {
      padding: 0 10px;

      &:not(:first-child) {
        border-left: dotted 1px #000;
      }
    }
  }

  tbody {
    font-weight: bold;

    tr {
      border-bottom: 1px solid #000;
      counter-increment: table;
    }

    .counter_rest-3 {
      counter-reset: table 2;
    }

    .counter_rest-7 {
      counter-reset: table 6;
    }

    .counter_rest-11 {
      counter-reset: table 10;
    }
    td,th{
      vertical-align: middle;
    }

    td {
      padding: 0 10px;
      border-left: dotted 1px #000;

      &:last-child {
        text-align: center;
      }

      &[colspan='3'] {
        border-left: none;
        background-color: #d6bfdd;
        letter-spacing: -1px;
        font-size: 10px;

        @include res_min($break) {
          padding-top: 4px;
          padding-bottom: 4px;
          font-size: 11px;
        }
      }
    }

    th {
      padding-left: 4px;

      &::before {
        content: counter(table);
      }
    }
  }
}


.stmp_item_ttl {
  background-color: #ad7fbb;
  color: #fff;
  font-size: 17px;
  line-height: 1.5;

  @include res_min($break) {
    font-size: 21px;
    line-height: 1.75;
  }
}

.stmp_item__body {
  padding: 10px;
  background-color: #efe5f1;

  @include res_min($break) {
    overflow: hidden;
    padding: 10px 25px 25px;
  }
}

.stmp_item__front {
  @include res_min($break) {
    float: right;
    margin-left: 20px;
    width: 350px;
  }

  img {
    margin-bottom: 10px;
    width: 100%;
  }
}

.stmp_item__disc_ttl {
  text-align: left;
  font-weight: bold;
  font-size: 14px;

  @include res_min($break) {
    font-size: 15px;
  }

  &::before {
    display: inline-block;
    margin-right: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ad7fbb;
    content: '';
    vertical-align: middle;
    transform: translateY(-2px);

    @include res_min($break) {
      width: 12px;
      height: 12px;
    }
  }
}

.stmp_item__disc_ttl02 {
  text-align: left;
  font-weight: bold;



  &::before {
    display: inline-block;
    margin-right: 2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #7eabdf;
    content: '';
    vertical-align: middle;

    @include res_min($break) {
      width: 12px;
      height: 12px;
    }
  }
}

.stmp_item__back {
  text-align: left;
  font-size: 12px;

  @include res_min($break) {
    font-size: 15px;
  }

  .stmp_item__disc_ttl {
    margin-top: 4px;
    font-size: 12px;

    @include res_min($break) {
      font-size: 15px;
    }
  }

  small {
    display: block;
    padding-left: 1em;
    text-indent: -1em;
    @include res_min($break) {
      font-size: 13px;
    }
  }

  .no-indent {
    padding-left: 0;
    text-indent: 0;
  }

  .stmp_item__txt {
    margin-top: 0;
  }
}

.stmp_item__pl {
  padding-left: 14px;
}

.triangle_txt {
  font-weight: bold;

  a,
  a:link{
    color: inherit;
  }

  span {
    font-weight: normal;
  }

  &::before {
    display: inline-block;
    margin-right: 2px;
    width: 0;
    height: 0;
    border-width: 6px 0 6px 8px;
    border-style: solid;
    border-color: transparent transparent transparent #ad7fbb;
    content: '';
  }
}

.wave_txt {
  margin-top: 20px;
  color: #ad7fbb;
  font-weight: bold;
  font-size: 12px;

  @include res_min($break) {
    font-size: 15px;
  }
}

.triangle_sub_txt {
  margin-top: 0;
  margin-bottom: 2px;
  padding-left: 10px;
}

.app_dwnBtn_txt {
  color: #ad7fbb;
  font-size: 12px;

  @include res_min($break) {
    margin-bottom: 5px;
    padding-top: 10px;
    font-size: 26px;
  }
}

.app_dwnBtnWrapper {
  background-color: #efe5f1;
  font-weight: bold;
}

.app_dwnBtns {
  display: flex;
  padding: 2px 15px 15px;

  justify-content: space-between;

  a {
    padding: 10px 0;
    width: 48%;
    border-radius: 8px;
    background-color: #ad7fbb;
    font-weight: bold;
    font-size: 25px;
    &:link, &:visited {
      color: #fff;
    }
  }
}

.dedline {
  @include res_min($break) {
    margin-top: -25px;
    margin-bottom: 25px;

  }

  >div {
    margin-top: 8px;
  }

  dt,
  dd {
    @include res_min($break) {
      font-size: 21px;
    }
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.4;
  }
  dt{
    width: 5em;
    }
    dd{
      text-align: left;
      width: 12em;
      }
}

.sake_img {
  margin-top: 10px;
  margin-bottom: 10px;

  @include res_min($break) {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.busITemUnit_item {
  margin-bottom: 10px;

  @include res_min($break) {
    margin-bottom: 30px;
  }
}

.buttonMores {
  display: flex;
  margin: 0 auto;
  width: 345px;

  @include res_min($break) {
    width: 485px;
  }

  justify-content: space-between;
}

.yellowBox {
  margin-top: 20px;
  padding: 0 5px 10px;
  border-radius: 16px;
  background-color: #faffad;

  @include res_min($break) {
    margin-top: 50px;
    padding: 0 45px 30px;
  }
}

.yellowBox_img {
  margin: 0 auto;
  padding: 0 5px 5px;
  width: 280px;
  height: auto;

  @include res_min($break) {
    padding: 0 40px 5px;
    width: 580px;
  }
}

.yellowBox_txt {
  font-weight: bold;
  font-size: 14px;

  @include res_min($break) {
    font-size: 17px;
  }
}

.yellowBox_list {
  padding-left: 0;
  text-align: left;
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  @include res_min($break) {
    margin-right: auto;
    margin-left: auto;
    max-width: 600px;
    font-size: 16px;
    margin-bottom: 20px;

    small {
      font-size: 12px;
    }
  }

  li {
    font-weight: bold;

    small {
      display: block;
      text-indent: 1em;
    }

    &::before {
      display: inline-block;
      margin-right: 2px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #abbb3c;
      content: '';
      vertical-align: middle;
      transform: translateY(-2px);

      @include res_min($break) {
        width: 12px;
        height: 12px;
      }
    }
  }
}
