/* ----------------------------------------------------------------
  見出し
---------------------------------------------------------------- */
.page-title,
.contents-title {
  color: $mainColor;
  letter-spacing: .03em;
  font-weight: bold;
  font-size: 2.7rem;
  line-height: 1.2;

  span {
    margin-left: 1em;
    color: $baseColor;
    letter-spacing: .06em;
    font-weight: 300;
    font-size: 1.2rem;
  }
}

@include res_min($break) {

  .page-title,
  .contents-title {
    vertical-align: bottom;
    font-size: 3.2rem;

    span {
      vertical-align: middle;
      letter-spacing: .03em;
      font-size: 2.5rem;
    }
  }
}

.page-title {
  margin-top: 20px;
}

@include res_min($break) {
  .page-title {
    margin-top: 50px;
  }
}

.block-title1 {
  display: inline-block;
  border-bottom: 2px solid $mainColor;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1.2;
}

@include res_min($break) {
  .block-title1 {
    font-size: 3rem;
  }
}

.block-title2 {
  margin: 1.8em auto 1em;
  border-bottom: 2px dotted $mainColor;
  font-size: 2rem;
  line-height: 1.2;
}

@include res_min($break) {
  .block-title2 {
    font-size: 2.5rem;
  }
}

.block-title3 {
  margin: 0 auto 1em;
  border-bottom: 2px dotted $mainColor;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
}

@include res_min($break) {
  .block-title3 {
    font-size: 3rem;
  }
}


/* ----------------------------------------------------------------
  ボタン
---------------------------------------------------------------- */
.button-wrap {
  margin-top: 2em;
  text-align: center;
}

@include res_min($break) {
  .button-wrap {
    text-align: left;
  }
}

.button {
  position: relative;
  display: inline-flex;
  padding-right: 2em;
  padding-left: 2em;
  border-radius: 4px;
  line-height: 1.5;

  align-items: center;
  flex-wrap: nowrap;
  @include ls(.1);

  @include transition;
  justify-content: center;

  &:link,
  &:visited {
    color: #fff;
    text-decoration: none;
  }

  &:hover,
  &:active {
    opacity: .8;
  }

  // green
  &__green {
    height: 45px;
    background-color: #005014;
  }

  &__desable {
    background-color: #e1e1e1;
    color: #fff;
    pointer-events: none;
  }

  // orange
  &__orange {
    margin: 0 auto;
    padding: .8em 3em;
    border-radius: 2px;
    background-color: $mainColor;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.67;

    &::after {
      margin-left: .5em;
      width: 13px;
      height: 12px;
      background-image: url(../images/common/icon-arrow1.svg);
      background-position: left center;
      background-size: 100%;
      background-repeat: no-repeat;
      content: '';
    }
  }

  // 未稼働
  &.closed {
    border: 1px solid #d3d3d4;
    background-color: #fff;
    pointer-events: none;

    &:link,
    &:visited {
      color: #d3d3d4;
    }

    &.button__orange {
      &::after {
        background-image: url(../images/common/icon-arrow2.svg);
      }
    }
  }
}

@include res_min($break) {
  .button {
    padding-right: 4em;
    padding-left: 4em;

    // orange
    &__orange {
      padding: 1em 4em;
      border-radius: 4px;
      font-size: 1.6rem;
    }
  }
}


/* ----------------------------------------------------------------
  リスト
---------------------------------------------------------------- */
// 記事リスト
.list-archive {
  .item {
    padding: 10px 0 8px;
    border-bottom: 1px solid #d3d3d4;

    &:first-of-type {
      border-top: 1px solid #d3d3d4;
    }

    .item__date {
      font-size: 1.2rem;
      line-height: 1.5;
    }

    .item__content {
      margin-top: 3px;
      line-height: 1;

      .item__content__title {
        font-size: 1.5rem;
        line-height: 1.5;

        &:link,
        &:visited {
          text-decoration: none;
        }
      }
    }
  }
}

@include res_min($break) {
  .list-archive {
    .item {
      padding: 16px 38px;

      @include flex(nowrap, flex-start, center);

      .item__date {
        margin-right: 36px;
        font-size: 1.6rem;
      }

      .item__content {
        margin-top: 0;

        .item__content__title {
          font-size: 2rem;
        }
      }
    }
  }
}


/* ----------------------------------------------------------------
  その他
---------------------------------------------------------------- */
// ページトップ
.button-pagetop {
  position: fixed;
  right: 20px;
  bottom: 40px;
  z-index: 9999px;
  opacity: 0;

  &.is-fixed {
    opacity: 1;
  }

  img {
    width: 30px;
  }
}

@include res_min($break) {
  .button-pagetop {
    right: 32px;

    img {
      width: 60px;
    }
  }
}

// telリンク
.tel-link {

  &:link,
  &:visited {
    text-decoration: none;
  }

  &:hover,
  &:focus {
    outline: none;
    text-decoration: none;
  }
}

@include res_min($break) {
  .tel-link {
    pointer-events: none;
  }
}
