/* ----------------------------------------------------------------
  見出し
---------------------------------------------------------------- */
.page-title,
.contents-title {
  font-size: 2.7rem;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: .03em;
  color: $mainColor;
  span {
    margin-left: 1em;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: .06em;
    color: $baseColor;
  }
}
@include res_min( $break ){
  .page-title,
  .contents-title {
      vertical-align: bottom;
      font-size: 3.2rem;
    span {
      vertical-align: middle;
      font-size: 2.5rem;
      letter-spacing: .03em;
    }
  }
}

.page-title {
  margin-top: 20px;
}
@include res_min( $break ){
  .page-title {
    margin-top: 50px;
  }
}

.block-title1 {
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.2;
  border-bottom: 2px solid $mainColor;
}
@include res_min( $break ){
  .block-title1 {
    font-size: 3rem;
  }
}

.block-title2 {
  margin: 1.8em auto 1em;
  font-size: 2rem;
  line-height: 1.2;
  border-bottom: 2px dotted $mainColor;
}
@include res_min( $break ){
  .block-title2 {
    font-size: 2.5rem;
  }
}

.block-title3 {
  margin: 0 auto 1em;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  border-bottom: 2px dotted $mainColor;
}
@include res_min( $break ){
  .block-title3 {
    font-size: 3rem;
  }
}


/* ----------------------------------------------------------------
  ボタン
---------------------------------------------------------------- */
.button-wrap {
  margin-top: 2em;
  text-align: center;
}
@include res_min( $break ){
  .button-wrap {
    text-align: left;
  }
}

.button {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 4px;
  line-height: 1.5;
  position: relative;
  @include ls(.1);
  @include transition;
  &:link, &:visited {
    text-decoration: none;
    color: #fff;
  }
  &:hover, &:active {
    opacity: .8;
  }

  // green
  &__green {
    height: 45px;
    background-color: #005014;
  }

  // orange
  &__orange {
    padding: .8em 3em;
    margin: 0 auto;
    background-color: $mainColor;
    border-radius: 2px;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.67;
    text-align: center;
    &::after {
      content: '';
      margin-left: .5em;
      width: 13px;
      height: 12px;
      background-image: url(../images/common/icon-arrow1.svg);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 100%;
    }
  }

  // 未稼働
  &.closed {
    pointer-events: none;
    background-color: #fff;
    border: 1px solid #D3D3D4;
    &:link, &:visited {
      color: #D3D3D4;
    }
    &.button__orange {
      &::after {
        background-image: url(../images/common/icon-arrow2.svg);
      }
    }
  }
}
@include res_min( $break ){
  .button {
    padding-left: 4em;
    padding-right: 4em;

    // orange
    &__orange {
      padding: 1em 4em;
      font-size: 1.6rem;
      border-radius: 4px;
    }
  }
}


/* ----------------------------------------------------------------
  リスト
---------------------------------------------------------------- */
// 記事リスト
.list-archive {
  .item {
    padding: 10px 0 8px;
    border-bottom: 1px solid #D3D3D4;
    &:first-of-type {
      border-top: 1px solid #D3D3D4;
    }
    .item__date {
      font-size: 1.2rem;
      line-height: 1.5;
    }
    .item__content {
      margin-top: 3px;
      line-height: 1;
      .item__content__title {
        font-size: 1.5rem;
        line-height: 1.5;
        &:link, &:visited {
          text-decoration: none;
        }
      }
    }
  }
}
@include res_min( $break ){
  .list-archive {
    .item {
      padding: 16px 38px;
      @include flex(nowrap, flex-start ,center);
      .item__date {
        margin-right: 36px;
        font-size: 1.6rem;
      }
      .item__content {
        margin-top: 0;
        .item__content__title {
          font-size: 2rem;
        }
      }
    }
  }
}


/* ----------------------------------------------------------------
  その他
---------------------------------------------------------------- */
// ページトップ
.button-pagetop {
  position: fixed;
  right: 20px;
  bottom: 40px;
  z-index: 9999px;
  opacity: 0;
  &.is-fixed {
    opacity: 1;
  }
  img {
    width: 30px;
  }
}
@include res_min( $break ){
  .button-pagetop {
    right: 32px;
    img {
      width: 60px;
    }
  }
}

// telリンク
.tel-link {
  &:link, &:visited {
    text-decoration: none;
  }
  &:hover, &:focus {
    outline: none;
    text-decoration: none;
  }
}
@include res_min( $break ){
  .tel-link {
    pointer-events: none;
  }
}